<html>
    <head>
        <title>Blog Achny</title>
    </head>
    <body>
        <div>
            <h1><a href="">Blog Achny</a></h1>
        </div>

        <div>
            <p>published: 24.06.2017, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Aksdjk kshc sdkfhu nsjfjsjfjsnjdksf jksjfj</p>
        </div>

        <div>
            <p>published: 25.06.2017, 13:56</p>
            <h2><a href="">My second post</a></h2>
            <p>Dkscshj jxkasjc dkafesjf kcjskcjs jks jckdsbkj s snjc.</p>
        </div>
    </body>
</html>
